*{
    font-family: Arial, Helvetica, sans-serif;
}
.main-content{
    margin-top: 12px;
    margin-left: 5px;
    max-width: 94%;
    animation: display 1s ease-in-out;

}

.main-content h1{
    border: var(--sidebar-border);
    padding: 3px;
    font-size: x-large;
    background-color: #3333;
}

form{
    margin-top: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px,1fr));
    gap: 12px;
}

form .input-group{
    position: relative;
    display: flex;
    flex-direction: column;
    border: var(--sidebar-border);
    gap: 5px;
}

input, button, textarea{
    flex: 1;
    outline: none;
    border: var(--sidebar-border);
    background-color: #fff;
    color: black;
    border-radius: 2px;
    padding: 4px;
    
}

label{
    padding: 3px;
}

input[type="file"]{
    padding: 0;
}
input[type="file"]::file-selector-button {
    background-color: goldenrod;
    border: var(--sidebar-border);
    color: white;
    border: none;
    padding: 5px;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button{
    height: 5vh;
    width: 70px;
    cursor: pointer;
    margin-top: 1.5rem;
    background-color: green;
    color: #fff;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@keyframes display{
    0%{
        opacity: 0;
        transform: translateX(-12px);
    }

}