*{
    font-family: Arial, Helvetica, sans-serif;
}

.main-content{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4%;
    animation: dashboard 1s ease-in-out;
    height: 80vh;
    overflow-y: auto;
    scrollbar-width: none;
    
}

svg{
    fill:none;
    height: 120;
    width: 120;
    rotate:-90deg;
    cursor: pointer;
}

circle{
    stroke-width: 10px;
    cx:60;
    cy:60;
    r:50;
}

.bg{
    stroke: #0e8dd153;

}

.progress{
    stroke-dasharray: 376;
    stroke-dashoffset: 376;
    stroke: rgb(128, 20, 90);
    transition: stroke-dashoffset 1s ease;
    stroke-linecap: round;
}

a{
    text-decoration: none;
}


.main-content .card{
    border: var(--sidebar-border);
    display: flex;
    gap: 1%;
    padding: 2%;
    border-radius: 5px;
   
    
   

}


.main-content .card:hover{
    background-color: #0e8dd128;
}
.main-content .card .status{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}
.main-content .card .all
{
    display: flex;
    position: relative; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.status .bar{
    display: flex;
    flex-direction: column;
    gap: 9px;
    width: 50%;
    padding: 6%;
    height: 130px;
    overflow-y: scroll;
    scrollbar-width: none;
    font-size: smaller;
}

.status .bar ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    cursor: pointer;
}

.status .bar ul:hover{
    background-color: rgb(128, 20, 90);
}

nav{
    font-size: 8px;
    cursor: pointer;
}

.bar .percent{
    margin-left: auto;
    font-size: smaller;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: center;
   
}





.all .text{
    top: 55%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    transform: translate(-50%, -50%);
    position: absolute;
    transition: 1s;
    cursor: pointer;
    
}
.status .bar{
    margin-left: auto;
}




span{
    flex: 1;
}


@keyframes dashboard{

    0%{
        opacity: 0;
        transition: 1s;

    }
}

@media screen and (max-width:979px){
    .main-content {
     gap: 20px;
     grid-template-columns: 1fr;
     font-size: small;
    }
    

}
