*{
    font-family: Arial, Helvetica, sans-serif;
}

.main-content{
    height: 80vh;
    overflow-y: auto;
    scrollbar-width: none;
    animation: no-product 1s ease-in-out;
}

.main-content .link{
    
    text-align: center;
    right: 1rem;
    position: fixed;
    top: 5rem;
    z-index: 99;
    

}

.main-content .link a{
    
    text-decoration: none;
    background-color: #17669b;
    padding: 4px;
    border-radius: 7px;
}

.main-content .link a:hover{
    background-color: orange;
    color: aliceblue;
    
}


.main-content .header{
    position: sticky;
    top: 0;
    margin-top: 2rem;
    background-color: #122e4a;
}


.main-content .header,.main-content .data{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    text-align: center;
    justify-content: center;

    
}

.main-content .header div{
    padding: 4px;
    border: #0e8dd1de solid 1px;
    font-weight: bolder;
   
    

}

.main-content .data div{
    height: 10vh;
    padding: 4px;
    border: #0e8dd1de solid 1px;
    margin-top: 1rem;
    font-size: 10px;
    
    
   
}

.main-content .data input{
    display: inline-block;
    background-color: #122e4a;
    border: #0e8dd1de solid 1px;
    outline: none;
    text-align: center;
}

.main-content .data img{
    
    aspect-ratio: 1/1;
    object-fit: contain;
    width: 60px;
    height: 60px;
    background-color: aliceblue;

    
    
}

.main-content .data #p-desc{
    overflow: auto;
    scrollbar-width: none;
    
  
}

.main-content .data div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;

}
.main-content .data #action{
    display: flex;   
    
}

.main-content .data #action div{
    margin-top: 2px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    height: 9vh;
   
}

.main-content .data #action #delete{
    color: rgba(255, 0, 0, 0.616);
}



.main-content .data #action #save {
    color: rgb(15, 239, 15);
    display: none;
}

.main-content .data #action div .hoverSave,.main-content .data #action div .hoverEdit,.main-content .data #action div .hoverTrash{
    position: absolute;
    top: -2px;
    width: 20px;
    padding: 2px;
    visibility: hidden;
    height: 2vh;
}

.main-content .data #action div:hover .hoverSave,
.main-content .data #action div:hover .hoverEdit,
.main-content .data #action div:hover .hoverTrash{
    visibility: visible;
}



.no-product{
    text-align: center;
    font-weight: bolder;
    cursor: pointer;
    font-size: xx-large;
    animation: no-product 1s ease-in-out;

}


@keyframes no-product{
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }
}

@media screen and (max-width:479px){
    
    .no-product{
        font-size: x-large;
        
    }
    .main-content .header,
    .main-content .data {
        display: none;   
    }

    .main-content::after{
        content: 'View On large screen';
        text-align: center;
        margin: 0 auto;
    }
    .main-content .link {
        justify-content: flex-start;
        width: 100%;   
    }

}