<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_css %}
    {% endblock %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/admin.css')}}">
    <title>Admin Panel</title>
</head>


<body>
    <section class="side-bar">
        
        <div class="input-group">
            <input type="search">
            <button type="submit"><i class="fas fa-search"></i></button>
        </div>
        <ul>
            
            <li class="card"><a href="{{url_for('admin.dashboard')}}">Dashboard</a></li>
            <li class="card"><a href="{{url_for('admin.displayProduct')}}">Products</a></li>
            <li class="card"><a href="">Categories</a></li>
            <li class="card"><a href="">Users</a></li>
            <li class="card"><a href="">Messages</a></li>
            <li class="card"><a href="">Settings</a></li>
            <li class="card"><a href="">More</a></li>
           
            
        </ul>
    </section>
    <section class="wrapper">
        <div class="top-bar">
            <ul>
                <li class="topCard">Admin {{name}}</li>
                <li class="topCard">Notification</li>
                <li class="topCard"><a href="{{url_for('admin.signOut')}}">Logout</a></li>
            </ul>
        </div>
        <main class="content">
            
            {% block content %}
            {% endblock %}
        </main>
    </section>

    <script src="{{url_for('static', filename='js/admin.js')}}"></script>

    {% block extra_js %}
    
    {% endblock %}
 
</body>
</html>