{% block extra_css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/dashboard.css')}}">
{% endblock %}

{% extends "admin.html" %}
{% block content %}
<div class="main-content">
    <a href="{{url_for('admin.displayProduct')}}">
        <div class="card">
            <div class="pCount">
                {{pCount}}
            </div>
            <span>
                Products
            </span>
        </div>
    </a>
    <div class="card">
        <div class="userCount">
            {{userCount}}
        </div>
        <span>
            Users Joined
        </span>
    </div>

    <a href="{{url_for('admin.display_category')}}">
        <div class="card">
            <div class="catCount">
                {{catCount}}
            </div>
            <span>
                Product Categories
            </span>
        </div>
    </a>
    <div class="card">
        <div class="msgCount">
            {{msgCount}}
        </div>
        <span>
            Messages
        </span>
    </div>
</div>

{% endblock %}