<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{url_for('static', filename='logo/icon.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">
    <title>Shopping app</title>
</head>

<body>
    <section class="header">
        <div class="top">
            <i class="fas fa-bars" id="bars" onclick="toggleBar()"></i>
            <a href="{{url_for('main.home')}}"><img src="{{url_for('static', filename='/logo/logo.png')}}" alt=""></a>
            <form action="" class="primary-form">
                <input type="search" placeholder="Search product..." oninput="search()">
                <div class="button-group">
                    <div class="search-loader" id="search-loader"></div>
                    <i class="fas fa-search" id="search-product" onclick="search()"></i>
                </div>
            </form>
            {% if logged_in %}
            <ul>
                
                <li>Hello, {{fname}}</li>
                <li class="counter">
                    <div class="counted">{{notCount}}</div><i class="fas fa-bell"></i>
                </li>
                <li class="counter"><div class="counted">0</div><i class="fas fa-shopping-cart"></i></li>
                
            </ul>
            {% else %}
            <ul>
            
                <li class="user-in"><a href="{{url_for('auth.signIn')}}">Sign in <i class="fas fa-user"></i></a></li>
                <li class="counter">
                    <div class="counted">0</div><i class="fas fa-bell"></i>
                </li>
                <li class="counter">
                    <div class="counted">0</div><i class="fas fa-shopping-cart"></i>
                </li>
            
            </ul>
            {% endif %}
           
        </div>
        
       <form class="secondary-form">
        <input type="search" placeholder="Search product..." oninput="secondSearch()">
        <div class="button-group">
            <div class="search-loader" id="second-search-loader" ></div>
            <i class="fas fa-search" id="second-search-product" onclick="secondSearch()"></i>
        </form>
    </div>


    </section>

    <div class="loader" id="loader"></div>
    <div class="cards" id="cards"></div>


    <script src="{{url_for('static', filename='js/main.js')}}"></script>

</body>

</html>